/* output.css */
@font-face {
    font-family: 'Cinzel';
<<<<<<< HEAD
    src: url('/font/Cinzel-Regular.otf') format('opentype'),
         url('/font/Cinzel-Bold.otf') format('opentype');
=======
    src: url('/public/font/Cinzel-Regular.otf') format('opentype'),
         url('/public/font/Cinzel-Bold.otf') format('opentype');
>>>>>>> f65476131e4f6892a2bd16d80a65ac09cfa09165
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Cinzel';
<<<<<<< HEAD
    src: url('/font/Cinzel-Bold.otf') format('opentype');
=======
    src: url('/public/font/Cinzel-Bold.otf') format('opentype');
>>>>>>> f65476131e4f6892a2bd16d80a65ac09cfa09165
    font-weight: bold;
    font-style: normal;
  }